@page "/clientes/details"
@using Microsoft.EntityFrameworkCore
@using SuperOferta.Models
@inject SupermercadoContext context
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Cliente</h2>
    <hr />
    @if (cliente is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@cliente.Nombre</dd>
            <dt class="col-sm-2">Apellido</dt>
            <dd class="col-sm-10">@cliente.Apellido</dd>
            <dt class="col-sm-2">Direccion</dt>
            <dd class="col-sm-10">@cliente.Direccion</dd>
        </dl>
        <div>
            <a href="@($"/clientes/edit?id={cliente.Id}")">Edit</a> |
            <a href="@($"/clientes")">Back to List</a>
        </div>
    }
</div>

@code {
    private Cliente? cliente;

    [SupplyParameterFromQuery]
    private int Id { get; set; }
   

    protected override async Task OnInitializedAsync()
    {
      
        cliente = await context.Clientes.FirstOrDefaultAsync(m => m.Id == Id);

        if (cliente is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
